.parent{
  background-color: red;
 padding: 10px;
}
.parent div{
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background-color: #dddd;
  float: left;
  width: 25%;
}
.clear{
  clear: both;
}